body {
    margin: 0;
    font-family: --apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

#main {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 5.25fr;
}

#menu {
    border-right: solid 0.5px #E2E2E2;
}

#instagram {
    padding: 5.8vh 0vw 4.4vh 1.6vw;
}


.sideMenu {
    padding: 2.3vh 0vw 2.15vh 1.55vw;
}


/* 아이콘 class때문에 id로 분리 */
#homeIcon {
    font-size: 1.55rem;
    vertical-align: top;
}


#searchIcon {
    font-size: 1.55rem;
    vertical-align: top;
}


#exploreIcon {
    font-size: 1.55rem;
    vertical-align: top;
}


#reelsIcon {
    font-size: 1.55rem;
    vertical-align: top;
}


#messageIcon {
    font-size: 1.55rem;
    vertical-align: top;
}


#notificationIcon {
    font-size: 1.55rem;
    vertical-align: top;
}


#createIcon {
    font-size: 1.55rem;
    vertical-align: top;
}


#moreIcon {
    font-size: 0.88rem;
    vertical-align: top;
}
/* 아이콘 class때문에 id로 분리 */


.iconText {
    padding: 0vh 0vw 0vh 0.65vw;
}


#menuProfilePic {
    width: 1.6vw;
    height: 3.5vh;
    border: 5px #E2E2E2;
    border-radius: 50%;
    vertical-align: top;
}


#lastSideMenu {
    padding: 13.5vh 0vw 0vh 1.55vw;
}


#profile {
    display: grid;
    grid-template-rows: 1.75fr 1.15fr 1.85fr;
}


#mainProfile {
    display: grid;
    grid-template-columns: 4.25fr 1.05fr 8.95fr;
}


#profileImg {
    width: 9.76vw;
    height: auto;
    border: 0.5px #E2E2E2 solid;
    border-radius: 50%;
    margin: 8.5vh 0vw 0vh 15.3vw;
}


#profileInfo {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1.8fr;
}


#nickname {
    font-size: 1.25rem;
    margin: auto 0vw 0vh 0vw;
}

#profileEditBtn {
    width: 6.5vw;
    height: 4.55vh;
    border: 0.5px #E2E2E2 solid;
    border-radius: 7px 7px 7px 7px;
    font-size: 0.88rem;
    font-weight: 600;
    margin: 0vh 0vw 0vh 1.2vw;
}

#storyBtn {
    width: 9.1vw;
    height: 4.55vh;
    border: 0.5px #E2E2E2 solid;
    border-radius: 7px 7px 7px 7px;;
    font-size: 0.88rem;
    font-weight: 600;
    margin: 0vh 0vw 0vh 0.25vw;
}


#profileSetting {
    font-size: 1.3rem;
    margin: auto 0vw 0vh 0.32vw;
}


.postFont {
    font-weight: 600;
}


#name {
    font-size: 0.87rem;
    font-weight: 600;
}


#highlightImg {
    width: 4.9vw;
    height: auto;
    border-radius: 50%;
    border: 0.5px #E2E2E2 solid;
    padding: 0.27vw;
    margin: 0.7vh 0vw 0vh 14vw;
}


#highlightTxt {
    font-weight: 600;
    font-size: 0.75rem;
    margin: 0.7vh 0vw 0vh 15.95vw;
}


#postField {
    display: grid;
    grid-template-columns: 0.6fr 3.4fr 0.6fr;
} 


#postCenter { 
    border-top: 0.5px #E2E2E2 solid;
    display: grid;
    grid-template-columns: 5.5fr 0.9fr 1fr 0.9fr 1fr 1fr 5.7fr;
}


#post {
    border-top: 0.5px black solid;
}


#postIcon {
    font-size: 0.75rem;
    margin: 2.9vh 0vw 0vh 0vw;
}


#savedIcon {
    font-size: 0.75rem;
    margin: 2.9vh 0vw 0vh 0vw;
    opacity: 50%;
}

#tagedIcon {
    font-size: 0.75rem;
    margin: 2.9vh 0vw 0vh 0vw;
    opacity: 50%;
}


.usedTxt {
    font-size: 0.75rem;
    font-weight: 500;
    padding: 0vh 0vw 0vh 0.06vw;
}


.unusedTxt {
    font-size: 0.75rem;
    padding: 0vh 0vw 0vh 0.06vw;
    opacity: 50%;
}