:root {
  font: 100% 'Montserrat', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000; 
}

main {
  display: grid;
  height: 100vh; 
  grid-template-rows: 80px 1fr 40px;
}

.Header-container {
  z-index: 1;
  top: 0;
}

.Footer-container {
  z-index: 1;
  bottom: 0;
}

.main1-list-visible {
  transform: scale(0.85);
  transform-origin: bottom right; 
  /* transform: translateX(210px);  */
  transition: transform 0.5s ease; 
}

.main1-list-invisible {
  transform: scale(1.0);
  transform-origin: bottom right;
  /* transform: translateX(0px);  */
  transition: transform 0.5s ease; 
}

.main2-list-visible {
  transform: translateX(210px); 
  transition: transform 0.5s ease; 
}

.main2-list-invisible {
  transform: translateX(0px);  
  transition: transform 0.5s ease; 
}

.main-container {
  background-color: #000000;
  color: white;
}